:host {
  display: block;
}

form {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

input {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  position: relative;
  margin: 0;
  margin-bottom: 2px;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 1px solid #CCC;
  box-shadow: 0 0px 1px 0px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
